<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="shopify.store.domain" value="jlc-concept-2.myshopify.com" />
    <add key="shopify.api.key" value="2e00045e6b32dc971dc114ffb15ddef5" />
    <add key="shopify.api.password" value="fd9cda718db42c26dec5d049347a7e8d" />
    <!--    <add key="shopify.api.secret" value="055a0ab2d54a3f7f69e07893d4e8e98b"/>-->
  </appSettings>
  <connectionStrings>
    <add name="AzureSql"
         connectionString="Server=tcp:bauscode-shared-uscentral.database.windows.net,1433;Data Source=bauscode-shared-uscentral.database.windows.net;Initial Catalog=derprecated-inventory-proto;Persist Security Info=False;User ID=bauscode-sa;Password=SKsN0CBCPUgOmHIVCUbV;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="AzureRedis"
         connectionString="GhvtN6Cpeq+Rq/RPBE7C2TMkmI7o7vbJHMO+LvXRPN4=@bauscode-shared.redis.cache.windows.net:6380?ssl=true&amp;db=4" />
  </connectionStrings>
</configuration>