<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ss.license" value="3015-e1JlZjozMDE1LE5hbWU6QmF1c0NvZGUsVHlwZTpJbmRpZSxIYXNoOmZRSW5jaUhySEZjdnNueS9DVmR2L1J3bVpKeGdIbHk4cisyVDEvRk04MThFMVRKM1dWMzRpQjJZVCsxNVQrKy92WDNkdGE3NFJNTVpUTVA3Tm5MNzVOSzM5bE1NYUdHVUxNSWQvRTg2NnVvN2JyeVMwN3c3VEM3OEtScEQ3V0xJbDVGZXJpVDBGbnhqM0o3WThVTXNWTEg2enFOd2doTVNHQ3NTMTFhbHFhbz0sRXhwaXJ5OjIwMTYtMTAtMTV9"/>
  </appSettings>
  <connectionStrings>
    <add name="AzureSql" connectionString="Server=tcp:bauscode-shared-uscentral.database.windows.net,1433;Data Source=bauscode-shared-uscentral.database.windows.net;Initial Catalog=bauscode-api;Persist Security Info=False;User ID=bauscode-sa;Password=SKsN0CBCPUgOmHIVCUbV;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add name="AzureRedis" connectionString="GhvtN6Cpeq+Rq/RPBE7C2TMkmI7o7vbJHMO+LvXRPN4=@bauscode-shared.redis.cache.windows.net:6380?ssl=true&amp;db=0"/>
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
