<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="ss.license" value="4198-e1JlZjo0MTk4LE5hbWU6QmF1c0NvZGUgTExDLFR5cGU6SW5kaWUsSGFzaDpnTkducUFJejNCT1h6UXpncHc4NjcvNWI2NytiSDlDNm9EeXVhaTV4Y2s0NklNQW11RE12TS9wRTQzRWIzREc5SUQzMHRodXlVM2VGNlFINjFiK0VxQXlBNkZDK0M5bmNXWElpL1R0OVJZV3hUbGdhRnV0QnBSRzdjbURuU2Z5ZXRlM3JXVGlsR0xrRE9EZVdqSUZpbXRROEYzS1haN2FLWmh5N3A2T2pRSjg9LEV4cGlyeToyMDE3LTEwLTE2fQ==" />

    <add key="app.storage.container" value="derprecated-local-dev" />
    
    <add key="shopify.store.domain" value="jlc-concept-2.myshopify.com" />
    <add key="shopify.api.key" value="f1045bd50a57fa9283a8909717db11a2" />
    <add key="shopify.api.password" value="8c7267a082aa3bde3016089c5fe610b5" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>